---
import background from '../assets/background.svg';
import Layout from './Layout.astro';

const { title, description } = Astro.props;
---
<Layout title={title} description={description}>
  <div id="container" class="site-container">
    <img id="background" src={background.src} alt="" fetchpriority="high" />
    <main class="site-main">
      <slot />
    </main>
  </div>
</Layout>
